.guess-history {
  background-color: #00ADAD;
  border-radius: 0 0 3px 3px;
  text-align: center;
  padding: 2em 0;
}

.past-guess {
  background-color: blue;
  color: white;
  border-radius: 3px;
  padding: 0.2em;
}
