html {
  background-color: #383F66;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}
